/**
 * Variables
 */

// General Framework Variables
$font-family: Arial, sans-serif !default;
$font-size: 1.6rem !default;
$line-height: 1.5 !default;
$font-color: #000 !default;
$p-margin: 20px 0 !default;


// Screen Size Variables
$screen-sm: 600px !default;
$screen-md: 900px !default;
$screen-lg: 1200px !default;


// Container Variables
$container-breakpoint: $screen-md !default;
$container-max-width: $screen-lg !default;
$container-gutter: 10px !default;
