/**
 * Variables
 */


// General framework variables
$font-family: Arial, sans-serif !default;
$font-size: 1.6rem !default;
$line-height: 1.5 !default;
$font: #{$font-size} / #{$line-height} $font-family !default;
$font-color: #000 !default; // Default font color
$p-margin: 20px 0 !default;


// Grid system variables
$screen-sm: 1px !default;
$screen-md: 768px !default;
$screen-lg: 980px !default;
$grid-gutter: 10px !default; // Inner padding on each side of a column to create gutters
$grid-row-bottom-margin: 20px !default; // Row bottom margin for all screen sizes
