/**
 * Typography styles
 */


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	line-height: auto;
	margin: 20px 0;
}

h1 {
	font-size: @font-size+10;
}

h2 {
	font-size: @font-size+6;
}

h2 {
	font-size: @font-size+4;
}

h4 {
	font-size: @font-size+2;
}

h5 {
	font-size: @font-size+10;
}

h6 {
	font-size: @font-size+10;
}

p {
	padding: 0;
	margin: 0 20px;
}

a {
	color: inherit;

	&:hover {
		text-decoration: none;
	}
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}