/**
 * Button
 */


.button {
	background: #000;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	padding: 12px 22px;
	margin: 20px 0 0;
	display: inline-block;
	border: 0;
	transition: .6s;
	cursor: pointer;

	&:hover {
		transform: scale(1.1);
	}
}
