/**
 * Variables
 */


// Custom variables
$color: #ff5800;


// General framework variables
$font-family: Arial, sans-serif;
$font-size: 16px;
$line-height: 150%;
$font: #{$font-size} / #{$line-height} $font-family;
$font-color: #000;
$p-margin: 20px 0;
$assets: "assets";


// Grid system variables
$screen-sm: 375px;
$screen-md: 768px; // 767 for portrait display on iPad
$screen-lg: 1180px;
$grid-gutter: 10px;
$grid-row-bottom-margin: 20px;
