/**
 * Mobile navigation toggle
 */


.nav-mobile-toggle {
	display: block;
	float: right;
	color: #fff;
	cursor: pointer;
	background: #333;
	padding: 5px 8px 6px 8px;
	vertical-align: top;
	line-height: normal;
	border: 2px solid #111;
	z-index: 10;
	.border-radius (5px 5px 5px 5px);
	
	&:hover {
		//background: @yellow;
		//color: @dark-grey;
	}
}





@media only screen and (min-width: @screen-md) {
	.nav-mobile-toggle {
		display: none;
	}
}