/**
 * Forms
 */

form {}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="file"],
input[type="search"],
textarea {
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px 10px;
	box-sizing: border-box;
	width: 100%;
	outline: 0;
	display: block;

	&::placeholder {
		color: #000;
	}
}

textarea {
	resize: vertical;
	display: block;
}

input[type="search"] {
	-webkit-appearance: none;
}

select {
	// -webkit-appearance: none;
	// border-radius: 0;
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px 10px;
	box-sizing: border-box;
}

.form-group {
	margin-bottom: 5px;
}
