/**
 * Basic  elements, classes and ids reset and normalize
 */


html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	font: $font;
	color: $font-color;
	text-size-adjust: 100%;
	@-ms-viewport { width: device-width; }
}

header,
footer,
nav,
section,
article,
aside {
	margin: 0;
	padding: 0;
	display: block;
}

button,
input,
select,
textarea {
	font: $font;
}

img {
	border: 0;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;

	tr {}

	td {}
}

ul,
li {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	line-height: 100%;
}

h1 {
	font-size: $font-size + 10;
}

h2 {
	font-size: $font-size + 6;
}

h3 {
	font-size: $font-size + 4;
}

h4 {
	font-size: $font-size + 2;
}

h5 {
	font-size: $font-size + 10;
}

h6 {
	font-size: $font-size + 10;
}

p {
	padding: 0;
	margin: $p-margin;
}

a {
	color: inherit;

	&:hover {
		text-decoration: none;
	}
}
