/**
 * Basic  elements, classes and ids reset and normalize
 */


html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	font: $font;
	color: $font-color;
	-webkit-text-size-adjust: 100%;
 	-ms-text-size-adjust: 100%;
 	@-ms-viewport { width: device-width; }
}

header,
footer,
section,
nav,
article,
aside {
	margin: 0;
	padding: 0;
	display: block;
}

button,
input,
select,
textarea {
	font: $font;
}

img {
	border: 0;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;

	tr {

	}

	td {

	}
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
	margin: 0;
	padding: 0;
}

ul,
li {
	//list-style-type: none;
}
