/**
 * 12 columns grid system
 *
 * Based on Preboot's grid system (http://getpreboot.com/)
 */


/** ========== Container ========== */
.container {
	text-align: left;
	padding: 0 $grid-gutter;
	margin: 0 auto;
	box-sizing: border-box;
}

@media only screen and (min-width: $screen-md) {
	.container {
		margin: 0 auto;
		max-width: $screen-lg;
	}

	.container-fixed {
		margin: 0 auto;
		max-width: none;
		width: $screen-lg;
	}
}


/** ========== Row ========== */
.row {
	@include make-row();
}

.row-no-margin {
	margin-bottom: 0;
}


/** ========== Columns (12 max.) ========== */
.col-1 {
	@include make-column(1);
}

.col-2 {
	@include make-column(2);
}

.col-3 {
	@include make-column(3);
}

.col-4 {
	@include make-column(4);
}

.col-5 {
	@include make-column(5);
}

.col-6 {
	@include make-column(6);
}

.col-7 {
	@include make-column(7);
}

.col-8 {
	@include make-column(8);
}

.col-9 {
	@include make-column(9);
}

.col-10 {
	@include make-column(10);
}

.col-11 {
	@include make-column(11);
}

.col-12 {
	@include make-column(12);
}


/** ========== Columns offset ========== */
.col-offset-1 {
	@include make-column-offset(1);
}

.col-offset-2 {
	@include make-column-offset(2);
}

.col-offset-3 {
	@include make-column-offset(3);
}

.col-offset-4 {
	@include make-column-offset(4);
}

.col-offset-5 {
	@include make-column-offset(5);
}

.col-offset-6 {
	@include make-column-offset(6);
}

.col-offset-7 {
	@include make-column-offset(7);
}

.col-offset-8 {
	@include make-column-offset(8);
}

.col-offset-9 {
	@include make-column-offset(9);
}

.col-offset-10 {
	@include make-column-offset(10);
}

.col-offset-11 {
	@include make-column-offset(11);
}

.col-offset-12 {
	@include make-column-offset(12);
}