/**
 * Basic grid system
 */


/** Container */
.container {
	text-align: left;
	padding: 0 $grid-gutter;
	margin: 0 auto;
	box-sizing: border-box;
}

@media only screen and (min-width: $screen-md) {
	.container {
		margin: 0 auto;
		max-width: $screen-lg;
	}

	.container-fixed {
		margin: 0 auto;
		max-width: none;
		width: $screen-lg;
	}
}


/** Row */
.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -#{$grid-gutter} $grid-row-bottom-margin -#{$grid-gutter};

	@media only screen and (min-width: $screen-md) {
		flex-wrap: nowrap;
	}
}

.row-no-bottom-margin,
.row-no-margin {
	margin-bottom: 0;
}


/** Col */
.col {
	width: 100%;
	box-sizing: border-box;

	@media only screen and (min-width: $screen-md) {
		width: auto;
	}
}
