/**
 * Basic  elements, classes and ids reset and normalize
 */


html,
body {
	height: 100%;
}

html {
	font: 62.5% / #{$line-height} $font-family;
	color: $font-color;
	text-size-adjust: 100%;
	@-ms-viewport { width: device-width; }
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: $font-size;
}

header,
footer,
nav,
section,
article,
aside {
	margin: 0;
	padding: 0;
	display: block;
}

button,
input,
select,
textarea {
	font: #{$font-size} / #{$line-height} $font-family;
}

img {
	border: 0;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;

	tr {}

	td {}
}

ul,
li {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.8rem;
}

h5 {
	font-size: 1.7rem;
}

h6 {
	font-size: 1.6rem;
}

p {
	padding: 0;
	margin: $p-margin;
}

a {
	color: inherit;

	&:hover {
		text-decoration: none;
	}
}
